<h3 class="heading">G-BASE Credentials</h3>

<kendo-grid [data]="gridData">
    <kendo-grid-column field="Username" title="User Name"></kendo-grid-column>
    <kendo-grid-column field="Branch" title="Branch"></kendo-grid-column>
    <kendo-grid-column field="UserId" title="G-BASE User Id"></kendo-grid-column>
    <kendo-grid-column field="EmployeeId" title="G-BASE Employee Id"></kendo-grid-column>
    <kendo-grid-column field="Expires" title="Expires"></kendo-grid-column>
    <kendo-grid-column class="button-column" field="Edit" title="" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton (click)="openEdit()">Edit</button>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column class="button-column" field="Test" title="" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton (click)="openTest()">Test</button>
        </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <button kendoButton id="create-button" (click)="openEdit()">Create</button>

  <g-base-edit #editDialog [selectedRow]="selectedRow"></g-base-edit>
  <g-base-test #testDialog [selectedRow]="selectedRow"></g-base-test>