<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><nav><a routerLink="/home"><i class="fa fa-home fa-lg"></i>Home</a></nav></li>
      <li><nav><a routerLink="/upload"><i class="fa fa-arrow-up fa-lg"></i>Upload</a></nav></li>
      <li><nav><a routerLink="/pending-actions"><i class="fa fa-flag fa-lg"></i>Pending Actions</a></nav></li>
      <li><nav><a routerLink="/posting-results"><i class="fa fa-file-text fa-lg"></i>Posting Results</a></nav></li>
      <li><nav><a routerLink="/suspense-accounts"><i class="fa fa-table fa-lg"></i>Suspense Accounts</a></nav></li>
      <li><a href="#"><i class="fa fa-line-chart fa-lg"></i>Reports</a></li>
    </ul>
  </div>
</div>
