<h3 class="heading">Upload</h3>

<kendo-tabstrip>
  <kendo-tabstrip-tab [title]="'Settlement Retrace'" [selected]="true">
    <ng-template kendoTabContent>
      <div class="tab-content">
      <p>
        Upload Settlement Retrace template
      </p>
    </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Interest Rate Retrace'">
    <ng-template kendoTabContent>
      <div class="tab-content">
        <p>
          Upload Interest Rate Retrace template
        </p>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'General Operation'">
    <ng-template kendoTabContent>
      <div class="tab-content">
        <p>
          Upload GENOP template
        </p>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
