<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrow-up fa-lg"></i>Upload</a>
        <div class="dropdown-menu">
          <nav><a class="dropdown-item" routerLink="/upload">Settlement Retrace</a></nav>
          <nav><a class="dropdown-item" routerLink="/upload">Interest Rate Retrace</a></nav>
          <nav><a class="dropdown-item" routerLink="/upload">GENOP</a></nav>
				</div>
      </li>
      <li>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bank fa-lg"></i>Ledger</a>
        <div class="dropdown-menu">
          <nav><a class="dropdown-item" routerLink="/upload">Currency Limits</a></nav>
          <nav><a class="dropdown-item" routerLink="/ledger/suspense-accounts">Suspense Accounts</a></nav>
          <nav><a class="dropdown-item" routerLink="/ledger/credentials">G-BASE Credentials</a></nav>
				</div>
      </li>
      <li><a href="#"><i class="fa fa-line-chart fa-lg"></i>Report</a></li>
      <li><a href="#"><i class="fa fa-cog fa-lg"></i>Config</a></li>
    </ul>
  </div>
</div>
