label {
    width: 50%;
}

.credentials-test {
    padding: 15px 25%;
    display: flex;

    .k-i-loading {
        font-size: 30px;
        margin-left: auto;
    }
}

.credentials-test-container {
    padding-top: 40px; 
}